/*==========================================================================================
	
Main theme styles
This file contains all styles for GIOSS theme

==========================================================================================*/


body #carousel .cl-effect-2 a span {background-color:transparent;color:#fff;text-transform:none;font-size:25px;line-height:200%;font-family:'Raleway', sans-serif;}
body #carousel .cl-effect-2 a span:before {background-color:transparent;text-transform:none;font-size:25px;line-height:200%;font-family:'Raleway', sans-serif;}

/*----------------------------------------------------*/
/*	Common
/*----------------------------------------------------*/
body,html {font-family: 'Open Sans', sans-serif;font-size:14px;}

a {text-decoration:none;}

h2 {margin:30px 0;display:block;width:100%;font-family: 'Raleway', sans-serif;font-weight:500;}
h3 {font-family: 'Raleway', sans-serif;}

h3.center {text-align:center;width:100%;font-weight:300;font-size:2em;margin:40px 0 20px 0;background: url(../img/sprite.png) no-repeat 50% -46px;}

section {float:left;width:100%;position:relative;margin:0;}
section.page {margin-top:60px;padding:40px 0;}



/*----------------------------------------------------*/
/*	Wrappers & other
/*----------------------------------------------------*/
#wrapper {width:100%;overflow:hidden;}
.wrap {width:940px;margin:0 auto;z-index:4;position:relative;}
.clear {width:100%;clear:both;float:left;}
.space {float:left;margin:20px 0;clear:both;width:100%;}
.nospace {margin:0!important;padding:0!important;}

.page-title {position:relative;width:100%;font-family: 'Raleway', sans-serif;font-size:45px;color:#000;font-weight:800;text-align:center;margin:80px 0 0 0;letter-spacing:-0.1rem;text-transform:uppercase;}
.page-title.float {float:left;width:100%;}
.page-title span {font-weight:300;}
.page-title .border {position:absolute;left:50%;bottom:-10px;width:100px;height:2px;background-color:#eee;margin-left:-50px;}
.page-subtitle {width:100%;font-family: 'Raleway', sans-serif;font-size:25px;color:#929292;font-weight:300;text-align:center;margin-top:22px;}



/*----------------------------------------------------*/
/*	Header
/*----------------------------------------------------*/
#header {position:fixed;display:block;width:100%;height:60px;z-index:9;min-width:320px;}
#header .main {position:relative;z-index:3;}
#header .after {position:absolute;width:100%;height:100%;top:-60px;z-index:2;background-color:#fff;-webkit-box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);box-shadow:0px 0px 65px 0px rgba(0,0,0,0.4);}

#header.sticky .after {top:0;-webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.05);}
#header.sticky #navigation li a {color:#000;}
#header.sticky #navigation ul li a {color:#fff;}
#header.sticky #navigation li span.border {background-color:#ef6661;}
#header.sticky #logo .label {background-color:#000;transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
#header.sticky #logo h1 {color:#fff;}

#mobile {display:none;}



/*----------------------------------------------------*/
/*	Preloader
/*----------------------------------------------------*/
#preloader {position:fixed;width:100%;height:100%;background-color:#fff;z-index:99;}

.spinner {width: 30px;height: 30px;background-color: #000;position:relative;top:45%;margin: 0 auto;-webkit-animation: rotateplane 1.2s infinite ease-in-out;animation: rotateplane 1.2s infinite ease-in-out;}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



/*----------------------------------------------------*/
/*	Carousel
/*----------------------------------------------------*/
#carousel {position:relative;display:block;width:100%;bottom:0;top:0;height:100%;overflow:hidden;height:300px;}
#carousel .carousel-holder {position:absolute;display:block;width:100%;height:100%;bottom:0;top:0;background-color:#000;overflow:hidden;}
#carousel .bg-img {height:100%;}
#carousel .bg-1 .sl-slide-inner {background: url(../img/carousel/slide-1.jpg) 50% 0;}
#carousel .bg-img-2 {background-image: url(../img/carousel/slide-2.jpg);}
#carousel .bg-img-3 {background-image: url(../img/carousel/slide-3.jpg);}
#carousel .bg-img-4 {background-image: url(../img/carousel/slide-11.jpg);}
#carousel .bg-img-5 {background-image: url(../img/carousel/slide-333.jpg);}

.prev {top:50%;margin-top:-29px;position:absolute;cursor:pointer;opacity:1;background:url('../img/sprite.png') no-repeat 0px -39px;-webkit-transition : all 0.2s ease-out;-moz-transition : all 0.2s ease-out;transition : all 0.2s ease-out;left:150px;width:41px;height:81px;z-index:100000;}
.next {top:50%;margin-top:-29px;position:absolute;cursor:pointer;opacity:1;background:url('../img/sprite.png') no-repeat -48px -39px;-webkit-transition : all 0.2s ease-out;-moz-transition : all 0.2s ease-out;transition : all 0.2s ease-out;right:150px;width:41px;height:81px;z-index:100000;}
.prev:hover, .next:hover {opacity:.4;}
.prev:active, .next:active {opacity:.4;}

.slide-text {position:relative;top:0;}
.slide-text li {height:21px;}

/* pattern */
.pattern {background-image:url(../img/pattern.png);position:absolute;opacity:0.8;left:0px;top:0px;right:0;bottom:0;width:100%;height:100%;z-index:1; }

.main-text {position:absolute;top:50%;margin-top:-55px;width:100%;font-family:'Raleway', sans-serif;text-shadow:0 0 15px rgba(0,0,0,0.3);text-transform:uppercase;text-align:center;font-weight:700;font-size:70px;line-height:70px;color:#ededed;z-index:20;}
.sub-text {position:absolute;top:50%;margin-top:30px;width:100%;height:21px;overflow:hidden;font-family:'Raleway', sans-serif;text-shadow:0 0 5px rgba(0,0,0,0.3);text-transform:uppercase;text-align:center;font-weight:400;font-size:20px; line-height:20px;color:#fff;z-index:20; }
.scroll-btn {position: absolute;bottom:40px;left:50%;margin-left:-20px;-webkit-transition: all .35s ease-in-out;-moz-transition: all .35s ease-in-out;transition: all .35s ease-in-out;width: 40px;height:46px;background:url(../img/sprite.png) no-repeat -155px -219px;z-index: 11;opacity:.6;}

/* scroll button animation */
@keyframes arrows {
	0% { bottom:40px; }
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}
@-webkit-keyframes arrows {
	0% { bottom:40px; }
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}
.scroll-btn {-webkit-animation: arrows 3.8s infinite;-webkit-animation-delay: 1s;animation: arrows 3.8s infinite;animation-delay: 1s;cursor:pointer;}



/*----------------------------------------------------*/
/*	Customers
/*----------------------------------------------------*/
.customers {float:left;width:90%;padding:50px 5% 30px 5%;}
.customers li {position:relative;float:left;width:20%;padding:30px 0;text-align:center;}
.customers li img {max-width:70%;}
.customers li .over {opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;border:10px solid #eee;z-index:3;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.customers li:hover > .over {opacity:1;}



/*----------------------------------------------------*/
/*	Screenshots
/*----------------------------------------------------*/
.gray {float:left;background-color:#f9f9f9;width:100%;}
.screens {float:left;width:100%;height:550px;margin-top:30px;position:relative;}
.screens div {opacity:0;}
.screens .center {float:left;height:600px;position:absolute;left:50%;margin-left:-300px;}
.screens .center img {max-width:600px;}
.screens .left {float:left;width:400px;position:absolute;left:300px;top:15%;}
.screens .right {float:left;width:400px;position:absolute;right:300px;top:15%;}
.screens .left img, .screens .right img {max-width:400px;}



/*----------------------------------------------------*/
/*	Navigation
/*----------------------------------------------------*/
#navigation {float:right;font-size:0;position:relative;top:-25px;text-align:center;width:100%;}
#navigation li {display:inline-block;font-size:14px;width:125px;}

#navigation li a {display:block;position:relative;padding:21px 0;margin:0;color:#fff;text-transform:uppercase;font-size:0.9em;}
#navigation li span.arrow {position:relative;top:-1px;}
#navigation li span.border {position:absolute;left:0;bottom:-5px;width:0;height:5px;background-color:#fff;}
#navigation li a:hover span.border, #navigation li a.active span.border {width:100%;}
#navigation ul li a:hover {background-color:#fff;color:#000!important;}

/* navigation submenu */
#navigation ul {display:none;position:absolute;margin:0;padding:0;text-align:left;}
#navigation ul li {display:block;position:relative;}
#navigation ul li a {width:150px;background-color:#000;padding:10px 20px;}
#navigation li:hover > ul {display:block;}

/* navigation sub sub menu */
#navigation ul li ul {display:none;position:absolute;top:0;left:190px;}



/*----------------------------------------------------*/
/*	Logo
/*----------------------------------------------------*/
#logo {float:left;height:60px;font-size:30px;font-weight:800;font-family: 'Ubuntu', sans-serif;color:#000;line-height:57px;padding:0!important;margin:0;}
#logo h1 {position:relative;z-index:2;font-size:30px;width:120px;text-align:center;margin:25px 0 0 0;letter-spacing:-0.2rem;color:#000;}
#logo .label {position:absolute;display:block;background-color:#fff;top:-35px;left:0;width:120px;height:120px;z-index:1;}



/*----------------------------------------------------*/
/*	Portfolio
/*----------------------------------------------------*/
#portfolio-box {background-color:#fff;height:0;width:0;position:fixed;z-index:100;opacity:0;transition:opacity 0.3s;}
#portfolio-box.visible {opacity:1;}
#portfolio-box .inner {display:none;}
#portfolio-box .spinner {position:absolute;left:50%;margin-left:-15px;}
#portfolio {float:left;display:block;width:100%;position:relative;background-color:#f9f9f9;padding-bottom:30px;}
#portfolio .inner {background-color:#000;}
#portfolio li {float:left;display:block;width:25%;background-color:#000;}
#portfolio li a {float:left;display:block;}
#portfolio .item {float:left;left:0;width:100%;position:relative;}
#portfolio .item img {float:left;width:100%;height:100%;}
#portfolio .item img.client {float:none;display:inline-block;width:auto;max-width:200px;height:auto;}
#portfolio .item .over {position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);text-align:center;}
#portfolio .item .over h2 {color:#fff;margin-top:30%;font-weight:300;padding:15px;font-size:23px;width:auto;}
#portfolio .item .over .border {height:1px;background-color:#fff;}
#portfolio .item .over h3 {color:#fff;font-size:18px;font-weight:300;padding:13px 50px;box-sizing:border-box;width:auto;}
#portfolio .item.aberto .over {display:none;}
#portfolio .item:hover > .over {opacity:0;}
#portfolio .more {position:absolute;left:50%;bottom:10px;width:40px;height:40px;margin-left:-20px;background-color:#ef6661;z-index:6;}
#portfolio .more span {position:absolute;left:14px;top:4px;font-size:22px;color:#fff;}

#portfolio .item.ajax {opacity:0;left:-150px;}
#portfolio li:nth-child(4n+1) .item {z-index:4;}
#portfolio li:nth-child(4n+2) .item {z-index:3;}
#portfolio li:nth-child(4n+3) .item {z-index:2;}
#portfolio li:nth-child(4n+4) .item {z-index:1;}

.rb-overlay {width:100%;height:100%;background-color:#fff;}

.pf-content {color:#000;}
.pf-top {float:left;width:100%;height:450px;background:url(../img/portfolio/full-1.jpg) 50% 0 no-repeat fixed;}
.pf-left {float:left;width:47%;margin-right:6%;}
.pf-right {float:left;width:47%;}


/*----------------------------------------------------*/
/*	About
/*----------------------------------------------------*/
/* facts */
/*#about .facts {float:left;width:100%;text-align:center;margin:50px 0 80px 0;}
#about .facts {float:left;width:100%;text-align:center;margin:20px 0 20px 0;}
#about .facts li {display:inline-block;margin:0 12px;}
#about .facts strong {font-size:70px;color:#ef6661;display:block;line-height:100%;}
#about .facts span {color:#000;font-size:20px;}
#about .facts .break {width:8px;height:8px;background-color:#eee;position:relative;top:-40px;margin-left:15px;margin-right:9px;}*/

/* references */
/*#about .references {position:relative;float:left;width:100%;padding:100px 0 100px 0;background:url(../img/carousel/slide-1.jpg) 50% 50% no-repeat;}
#about .references .smart-list li {height:200px;}
#about .references .smart-list img {width:auto;margin:0;border:4px solid #000;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
#about .references .smart-list h4, .references .smart-list p, .references .smart-list i {color:#fff;}
#about .references .smart-list li:hover > a img {border-color:#fff;}
#about .references h2.page-title {color:#fff;font-size:35px;margin:0 0 45px 0;}
#about .references h2.page-title .border {background-color:#fff;height:1px;bottom:-24px;}
#about .references h3.page-subtitle {margin-top:34px;color:#c3c3c3;}
#about .references h3.page-subtitle.white {color:#fff;}*/



.facts {float:left;width:100%;text-align:center;margin:50px 0 80px 0;}
.facts {float:left;width:100%;text-align:center;margin:20px 0 20px 0;}
.facts li {display:inline-block;margin:0 12px;}
.facts strong {font-size:70px;color:#ef6661;display:block;line-height:100%;}
.facts span {color:#000;font-size:20px;}
.facts .break {width:8px;height:8px;background-color:#eee;position:relative;top:-40px;margin-left:15px;margin-right:9px;}


/* adv_references */
.adv_references {position:relative;float:left;width:100%;padding:0;background:url(../img/adv.jpg)  no-repeat;}
.adv_references .smart-list li {height:200px;}
.adv_references .smart-list img {width:auto;margin:0;border:4px solid #000;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.adv_references .smart-list h4, .adv_references .smart-list p, .adv_references .smart-list i {color:#fff;}
.adv_references .smart-list li:hover > a img {border-color:#fff;}
.adv_references h2.page-title {color:#fff;font-size:35px;margin:0 0 45px 0;}
.adv_references h2.page-title .border {background-color:#fff;height:1px;bottom:-24px;}
.adv_references h3.page-subtitle {margin-top:34px;color:#c3c3c3;}
.adv_references h3.page-subtitle.white {color:#fff;}

/* references */
.references {position:relative;float:left;width:100%;padding:100px 0 100px 0;background:url(../img/carousel/slide-3.jpg) 100px 100px no-repeat;}
.references .smart-list li {height:200px;}
.references .smart-list img {width:auto;margin:0;border:4px solid #000;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.references .smart-list h4, .references .smart-list p, .references .smart-list i {color:#fff;}
.references .smart-list li:hover > a img {border-color:#fff;}
.references h2.page-title {color:#fff;font-size:35px;margin:0 0 45px 0;}
.references h2.page-title .border {background-color:#fff;height:1px;bottom:-24px;}
.references h3.page-subtitle {margin-top:34px;color:#c3c3c3;}
.references h3.page-subtitle.white {color:#fff;}

/* charts */
.charts {float:left;width:100%;text-align:center;margin-top:10px;}
.chart {position:relative;display:inline-block;margin:0 20px 25px 20px;}
.chart span {color:#fff;display:inline-block;font-size:40px;font-weight:800;position:absolute;top:29px;left:35px;}
.chart:first-child {margin-left:0;}
.chart:last-child {margin-right:0;}

/* team */
#team {float:left;width:100%;padding:20px 0 50px 0;}
#team .members {font-size:0;text-align:center;}
#team .members li {display:inline-block;width:220px;margin:0 20px 20px 0;font-size:14px;}
#team .members li:nth-child(4n) {margin-right:0;}

#team .member {position:relative;height:294px;text-align:center;overflow:hidden;}
#team .member img {width:100%;position:relative;top:0;}
#team .member .image {display:block;height:216px;position:relative;overflow:hidden;}
#team .member h4 {margin:10px 0 0;font-weight:300;font-size:1.5em;}

#team .info {position:absolute;bottom:0;left:0;height:78px;background-color:#fff;color:#000;}
#team .info:after {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-bottom-color: #fff;border-width: 13px;margin-left: -13px;}
#team .info p {height:0;overflow:hidden;margin:3px 0;padding:0 10px;font-size:0.8em;}

#team .social {padding-bottom:5px;}
#team .social li {width:auto;height:auto;margin:0;padding:4px;}
#team .social a {display:block;width:14px;height:20px;margin:0;padding:2px 4px;color:#000;text-align:center;}
#team .social a:hover {background-color:#fff;color:#000;}

/* team hover animation */
#team .member:hover > .info {height:50%;background-color:#000;color:#fff;}
#team .member:hover > .info p {height:auto;}
#team .member:hover > .image img {top:-30px;}
#team .member:hover > .info:after {border-bottom-color: #000;}
#team .member:hover > .info .social a {color:#fff;}
#team .member:hover > .info .social a:hover {color:#000;}


/*----------------------------------------------------*/
/*	Services
/*----------------------------------------------------*/
#services {float:left;width:100%;}
#services .gray {float:left;width:100%;background-color:#f9f9f9;}

/* core */
#core {padding:20px 0 50px 0;}
#core .core-values {width:100%;text-align:center;font-size:0;margin-top:40px;}
#core .core-values li {position:relative;display:inline-block;width:33%;height:290px;margin:15px 0;}
#core .core-values li .core {display:inline-block;width:100px;height:100px;padding:3%;background-color:#eee;}
#core .core-values li .fa {position:absolute;top:39px;left:131px;width:50px;text-align:center;font-size:44px;color:#000;line-height:100%;}
#core .core-values li h4 {font-size:18px;font-weight:500;background: url(../img/sprite.png) no-repeat 50% -43px;padding-bottom:15px;margin:50px 0 15px 0;}
#core .core-values li p {font-size:13px;padding:0 30px;margin-top:5px;color:#5e5e5e;}
#core .core-values li:hover > .core {background-color:#ef6661;}
#core .core-values li:hover > .fa {color:#fff;}

#services .touch {float:left;width:100%;padding:20px 0;text-align:center;}

.btn {position:relative;display:inline-block;padding:10px 30px;margin-bottom:30px;background-color:#ef6661;color:#fff;box-shadow:0 4px 0 #ca4641;-moz-box-shadow:0 4px 0 #ca4641;-webkit-box-shadow:0 4px 0 #ca4641;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.btn:hover {background-color:#f46f6a;}
.btn:active {top:1px;box-shadow:0 3px 0 #ca4641;-moz-box-shadow:0 3px 0 #ca4641;-webkit-box-shadow:0 3px 0 #ca4641;}

#services .testimonial {position:relative;float:left;width:100%;padding:130px 0;text-align:center;background:url(http://placehold.it/1920x1080) 50% 50% no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
#services .testimonial .fa {display:inline-block;font-size:40px;color:#fff;}
#services .testimonial .page-title {color:#fff;margin:10px 0 30px;font-size:35px;}
#services .testimonial .page-title span {margin-bottom:10px;bottom:-24px;height:1px;}
#services .testimonial .owl strong {display:block;color:#fff;font-size:15px;font-weight:300;}
#services .testimonial .owl em {color:#eee;font-size:25px;font-weight:300;}



/*----------------------------------------------------*/
/*	Contacts
/*----------------------------------------------------*/
#map {width:100%;height:640px;background-color:#000;position:relative;z-index:1;}

.title-contact-mobile {display:none;}

#contacts {float:left;width:100%;position:relative;}
#contacts .navigation {position:absolute;top:10px;left:10px;margin:0;z-index:2;}
#contacts .navigation a {display:block;width:42px;height:42px;background: #000 url(../img/sprite.png) no-repeat -205px 5px;}
#contacts .navigation a:hover {opacity:0.8;}
#contacts .navigation a#zoomout {background-position:-155px 5px;margin-top:1px;}
#contacts .marker-label {position:relative;top:35px;left:175px;}

/* contacts form */
#contacts .get-in-touch {position:absolute;top:0;right:0;z-index:4;width:450px;left:50%;top:160px;margin-left:62px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#contacts .get-in-touch input, #contacts .get-in-touch textarea, #contacts .get-in-touch button {display:block;width:100%;border:0;background-color:#000;color:#fff;padding:10px;margin-bottom:8px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#contacts .get-in-touch input, #contacts .get-in-touch textarea, #zoomout, #zoomin, #contacts .get-in-touch button {-webkit-box-shadow: 12px 12px 0px rgba(50, 50, 50, 0.27);-moz-box-shadow:12px 12px 0px rgba(50, 50, 50, 0.27);box-shadow:12px 12px 0px rgba(50, 50, 50, 0.27);}
#contacts .get-in-touch input.error, #contacts .get-in-touch textarea.error {background-color:#ef6661;}
#contacts .get-in-touch textarea {height:120px;resize:none;}
#contacts .get-in-touch .col {float:left;width:31.53333333333%;margin-left:1.8003%;text-align:center;}
#contacts .get-in-touch button:hover {background-color:#fff;color:#000;}
#contacts .text {position:absolute;left:50%;margin-left:-517px;top:80px;display:block;width:500px;height:100px;z-index:2;text-align:center;}
#contacts .text h2 {font-family:'Raleway', sans-serif;font-size:32px;font-weight:800;margin:64px 0 19px;letter-spacing:0rem;}
#contacts .text h2 span {height:1px;}
#contacts .text p {font-size:15px;font-weight:300;margin:0;color:#000;}
#contacts .text .border {background-color:#252525;}
#contacts .contacts-mobile-over {display:none;position:absolute;width:100%;height:100%;background-color:#fff;z-index:3;}



/*----------------------------------------------------*/
/*	Project inner page
/*----------------------------------------------------*/
#project {position:relative;top:0;width:100%;height:545px;}
#project .main-background {position:absolute;width:100%;height:100%;overflow:hidden;background:transparent url(http://placehold.it/1920x1080) no-repeat 50% 0%;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
#project .project-header {position:relative;z-index:10;top:40%;}
#project .project-header h2, #project .project-header h3 {margin:0;color:#fff;font-family: 'Raleway', sans-serif;}

#project .nav-controls {position:absolute;top:57%;width:100%;text-align:center;z-index:10;}
#project .nav-controls a {display:inline-block;background-color:#fff;color:#000;padding:15px;width:20px;height:20px;text-align:center;margin-bottom:1px;}
#project .nav-controls a:hover {background-color:rgba(255,255,255,0.4)}

.project-inner {color:#777;}
.project-inner .owl-inner {float:left;width:100%;}
.project-inner .owl-inner img {max-width:980px;}
.project-inner.gallery {float:left;width:100%;padding:50px 0;background-color:#f9f9f9;}
.project-inner.gallery .owl-prev {top:50%;margin-top:-29px;position:absolute;cursor:pointer;opacity:1;background:url('../img/sprite.png') no-repeat 0px -39px;-webkit-transition : all 0.2s ease-out;-moz-transition : all 0.2s ease-out;transition : all 0.2s ease-out;left:50px;width:41px;height:81px;text-indent:-9999px;}
.project-inner.gallery .owl-next {top:50%;margin-top:-29px;position:absolute;cursor:pointer;opacity:1;background:url('../img/sprite.png') no-repeat -48px -39px;-webkit-transition : all 0.2s ease-out;-moz-transition : all 0.2s ease-out;transition : all 0.2s ease-out;right:50px;width:41px;height:81px;text-indent:-9999px;}


.review {width:100%;float:left;padding:50px 0;}
.review .left {width:50%;float:left;}
.review .left img {max-width:100%;}
.review .right {width:47%;margin-left:3%;float:left;}

.project-inner.stats {padding-top:0;}

.bar {text-align:left;margin:30px 0 0 0;}
.bar li {list-style:none;}
.bar li:last-child span {margin-bottom:0px;}
.bar li .bar-wrap {margin-bottom:50px;background:#f5f5f5;}
.bar li span { height:35px;width:0px;display:block;}
.bar li p {padding-bottom:2px;}
.bar li span {position:relative;background-color:#ef6661;}
.bar li span strong {position:absolute;top:10px;left:10px;color:rgba(255, 255, 255, 0.8);line-height:100%;display:block;font-weight:300;}



/*----------------------------------------------------*/
/*	Go to top button
/*----------------------------------------------------*/
#go-top {opacity:0;width:50px;height:50px;display:block;position:fixed;right:0;bottom:0;background: #353535 url(../img/sprite.png) no-repeat -101px 6px;cursor:pointer;z-index:6;}
#go-top.bottom {position:absolute;right:0;top:-50px;}
#go-top:hover {background-color:rgba(0,0,0,0.8)}



/*----------------------------------------------------*/
/*	Transitions
/*----------------------------------------------------*/
#logo, #navigation li a, #portfolio .item .over, #portfolio .item, #team .member img, #team .info, #team .info:after, #team .social a,
#core .core, #core .fa, #navigation li span.border, #header .after, #go-top, #logo:after, #footer .social a, #logo .label, #logo h1,
.customers li .over, .core-values .core, .nav-controls a, #contacts .get-in-touch button {
	transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;
}



/*----------------------------------------------------*/
/*	Rotation
/*----------------------------------------------------*/
.rotate {transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.radius {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}



/*----------------------------------------------------*/
/*	Footer
/*----------------------------------------------------*/
#footer {position:relative;float:left;width:100%;text-align:center;min-height:200px;background-color:#353535;font-size:0.9em;}
#footer strong {display:inline-block;font-family: 'Ubuntu', sans-serif;font-weight:800;font-size:30px;color:#fff;padding:48px 0 20px 0;}

#footer .social {display:block;height:50px;margin:0 0 15px 0;text-align:center;font-size:0;}
#footer .social li {display:inline-block;}
#footer .social li a {display:block;width:29px;height:28px;padding:2px;font-size:20px;color:#fff;}
#footer .social li a:hover {background-color:#fff;color:#353535;}









